@import url(https://fonts.googleapis.com/css?family=Ravi+Prakash);


.navbar {
    background: -webkit-linear-gradient(-100deg, #0000FB, #00FE00, #000A01); /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-100deg, #0000FB, #00FE00, #000A01); /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-100deg, #0000FB, #00FE00, #000A01); /* Firefox 3.6 to 15 */
    background: linear-gradient(-100deg, #0000FB, #00FE00, #000A01);
    /* background: linear-gradient(-100deg, #0360b0, #03a000, yellow); /* Standard syntax (must be last) /*
	/* background: linear-gradient(-100deg, #08FF16, #0AFFFA, #FAFF05, #FDFFFE); */
	/* background: linear-gradient(-100deg, #0000FB, #00FCFD, #00FE00, #000A01); */
    /* background: linear-gradient(-100deg, #FF0100, #FF03FE, #FFFEFF, #FFFE00); */
	padding: 10px 0 0 0;
	width: 100%;
	color: #eee;
	border-radius: 0;
	margin-bottom: 0;
}

.nav {
	margin: 0;
	min-width: 250px;
	max-width: 600px;
}

.navbar-inverse {
	border: 0;
}

.navbar-right {
}

.navbar-toggle {
	/* border: 1px solid red; */
	color: #111111;
}

.navbar-header {
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	vertical-align: baseline;
	max-width: 250px;

	border: 3px solid #eee;
	border-radius: 20px 0 20px 0;
	margin: 0 50px 15px 10px;
	/* padding: 10px 10px 0px 10px; */
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin: 0;
}

.navbar-inverse .navbar-nav > li > a {
	color: #eee;
}

.navbar-brand {
	float:  left;
	height: auto;
	min-height: 100px;
	padding: 0;

}

.logo {
	margin: 5px;
	padding: 10px;
}

.app-name {
	margin: 0;
	padding: 0;
	vertical-align: middle;

	font-family: 'Ravi Prakash', cursive;
	font-size: 2em;
	font-weight: 600;
	letter-spacing: -5px;
	word-spacing: -100%;

	color: #eee;
	mix-blend-mode: normal;
}

.app-name-span {
	vertical-align: +40%;
	font-size: 0.8em;
	font-weight: 900;
	word-spacing: -100%;
}

.app-name-span2 {
	vertical-align: -40%;
	font-size: 1.1em;
	font-weight: 300;
	word-spacing: -100%;
	color: #FFCC00;
	text-shadow: 2px 1px 2px #AA9900;
	margin: 0 0 -10px 0;
}

#bs-navbar-collapse-1 {
	margin: 0;
}

.nav-links-container {
	margin: 0;
	padding: 0 0 0 5px;
	vertical-align: top;
}

.li-nav-link {
	display: inline-block;
	border: 0;
}

.nav-link {
	margin: 10px 5px 0 5px;
	padding: 10px;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #eee;
	border-radius: 20px 5px 20px 5px;
	width: 100px;

	font-size: 1.1em;
	font-variant: small-caps;
	text-align: center;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
	height: 100%;
	background-color: #FFCC00;
}

.nav-link.active {
	background-color: rgba(0, 50, 200, 0.5);
}

.nav-link.active:hover {
	background-color: rgba(0, 50, 200, 0.75);
}

.dropdown {
	height: 100%;
}

.dropdown-toggle {
	margin: 10px 5px 0 5px;
	padding: 10px;

	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #eee;
	border-radius: 20px 20px 5px 5px;
	width: 140px;

	font-size: 1.1em;
	font-variant: small-caps;
	text-align: center;
	color: #eee;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	background-color: rgba(0, 0, 0, 0.5);
	border-color: #eee;
}

.nav > li > a:focus, .nav > li > a:hover {
	background-color: rgba(0, 50, 200, 0.5);
	border-color: #eee;
}

.dropdown-toggle:hover {
	background-color: #FFCC00;
}

.dropdown-toggle:active {
	background-color: rgba(0, 50, 200, 0.5);
}

.dropdown-toggle.active {
	background-color: rgba(0, 50, 200, 0.5);
}

.dropdown-toggle.inactive {
	background-color: rgba(0, 50, 200, 0.5);
}

.dropdown-toggle:active:hover {
	background-color: rgba(0, 50, 200, 0.75);
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.5);
}

.menu-item {
	background-color: rgba(0, 0, 0, 0.5);
}

.login-area {
	margin: 0;
	text-align: left;
	max-width: 280px;
	min-width: 230px;
}

.login-group {
	display: inline-block;
	vertical-align: bottom;
	margin: 0 5px 0 0;
	padding: 0;
	width: 100%;
}

.login-button-group {
	display: inline-block;
	vertical-align: bottom;
	margin: 10px 0 10px 5px;
	text-align: right;
}

.btn {
	margin: 0 0 0 10px;
	padding: -5px;
	display: inline;
	width: 95px;
	font-size: 1.1em;
	font-weight: normal;
	text-align: center;
	font-variant: small-caps;
}

.input-group {
	text-align: right;
	width: 95%;
	margin: 5px 0 5px 10px;
	padding: 0;
	min-width: 220px;
	max-width: 220px;
}

.form-control {
	min-width: 180px;
	max-width: 180px;
}

.logout-btn {
	margin: 0 10px 0 0;
}

.fail {
	max-height: 50px;
	text-align: center;
    background-color: #eee;
}

#hello {
	display: inline;
	vertical-align: -20%;
	margin: 0 10px 0 10px;

	color: #eee;
	font-size: 1.1em;
	font-weight: 300;
}

.cat-editor {
	margin: 5px;
	background-color: #F5DC35;
}

.cat-editor > .navbar-form {
	margin: 0;
}