<div class='about'>
	<h1>about.component.html</h1>

	<div *ngIf="info" class="info-container" >

	 	<div *ngIf="info.osHostname" class="about-data">
	        <p id="about-data"><label>Host name:&nbsp;</label>{{info.osHostname}}</p>
	    </div>


	 	<div *ngIf="info.osHostname" class="about-data">
	        <p id="about-data"><label>Host name:&nbsp;</label>{{info.osHostname}}</p>
	    </div>

	 	<div *ngIf="info.osPlatform" class="about-data">
	        <p id="about-data"><label>Platform:&nbsp;</label>{{info.osPlatform}}</p>
	    </div>

	 	<div *ngIf="info.osArch" class="about-data">
	        <p id="about-data"><label>CPU architecture:&nbsp;</label>{{info.osArch}}</p>
	    </div>

	 	<div *ngIf="info.osRelease" class="about-data">
	        <p id="about-data"><label>Release:&nbsp;</label>{{info.osRelease}}</p>
	    </div>

	 	<div *ngIf="info.osType" class="about-data">
	        <p id="about-data"><label>Type:&nbsp;</label>{{info.osType}}</p>
	    </div>

	 	<div *ngIf="info.osUptime" class="about-data">
	        <p id="about-data"><label>Up Time:&nbsp;</label>{{info.osUptime}}</p>
	    </div>

	 	<div *ngIf="info.osFreemem" class="about-data">
	        <p id="about-data"><label>Free system memory:&nbsp;</label>{{info.osFreemem}}</p>
	    </div>

	 	<div *ngIf="info.osLoadavg1m" class="about-data">
	        <p id="about-data"><label>Last 1 minute load average:&nbsp;</label>{{info.osLoadavg1m}}</p>
	    </div>

	 	<div *ngIf="info.osLoadavg5m" class="about-data">
	        <p id="about-data"><label>Last 5 minutes load average:&nbsp;</label>{{info.osLoadavg5m}}</p>
	    </div>

	 	<div *ngIf="info.osLoadavg15m" class="about-data">
	        <p id="about-data"><label>Last 15 minutes load average:&nbsp;</label>{{info.osLoadavg15m}}</p>
	    </div>

	 	<div *ngIf="info.osHomedir" class="about-data">
	        <p id="about-data"><label>Home directory:&nbsp;</label>{{info.osHomedir}}</p>
	    </div>



	 	<div *ngIf="info.cpuModel" class="about-data">
	        <p id="about-data"><label>Cpu Model:&nbsp;</label>{{info.cpuModel}}</p>
	    </div>

	 	<div *ngIf="info.cpuCount" class="about-data">
	        <p id="about-data"><label>Count:&nbsp;</label>{{info.cpuCount}}</p>
	    </div>

	 	<div *ngIf="info.cpuSpeed" class="about-data">
	        <p id="about-data"><label>Speed:&nbsp;</label>{{info.cpuSpeed}}</p>
	    </div>

	 	<div *ngIf="info.cpuUserAvg" class="about-data">
	        <p id="about-data"><label>User Avg:&nbsp;</label>{{info.cpuUserAvg}}</p>
	    </div>

	 	<div *ngIf="info.cpuNiceAvg" class="about-data">
	        <p id="about-data"><label>Nice Avg:&nbsp;</label>{{info.cpuNiceAvg}}</p>
	    </div>

	 	<div *ngIf="info.cpuSysAvg" class="about-data">
	        <p id="about-data"><label>Sys Avg:&nbsp;</label>{{info.cpuSysAvg}}</p>
	    </div>

	 	<div *ngIf="info.cpuIdleAvg" class="about-data">
	        <p id="about-data"><label>Idle Avg:&nbsp;</label>{{info.cpuIdleAvg}}</p>
	    </div>



	 	<div *ngIf="info.processUptime" class="about-data">
	        <p id="about-data"><label>Process Uptime:&nbsp;</label>{{info.processUptime}}</p>
	    </div>

	 	<div *ngIf="info.processVersion" class="about-data">
	        <p id="about-data"><label>Process Version:&nbsp;</label>{{info.processVersion}}</p>
	    </div>

	 	<div *ngIf="info.processVersionsHttp_parser" class="about-data">
	        <p id="about-data"><label>Http parser:&nbsp;</label>{{info.processVersionsHttp_parser}}</p>
	    </div>

	 	<div *ngIf="info.processVersionsNode" class="about-data">
	        <p id="about-data"><label>Node Version:&nbsp;</label>{{info.processVersionsNode}}</p>
	    </div>

	 	<div *ngIf="info.processVersionsV8" class="about-data">
	        <p id="about-data"><label>V8 Version:&nbsp;</label>{{info.processVersionsV8}}</p>
	    </div>

	    <div *ngIf="info.processVersionsAres" class="about-data">
	        <p id="about-data"><label>Ares Version:&nbsp;</label>{{info.processVersionsAres}}</p>
	    </div>

	    <div *ngIf="info.processVersionsOpenssl" class="about-data">
	        <p id="about-data"><label>Openssl Version:&nbsp;</label>{{info.processVersionsOpenssl}}</p>
	    </div>


	    <div *ngIf="info.remoteIp" class="about-data">
	        <p id="about-data"><label>Client Ip:&nbsp;</label>{{info.remoteIp}}</p>
	    </div>

<!-- 		<code>
			<div *ngFor="let i of items" class="info-item">{{i}} -> {{JSON.stringify(info.i)}}</div>
			<div></div>
		</code> -->
	</div>
</div>