.register-container {
    padding: 2%;
    background: -webkit-linear-gradient(-100deg, #0000FB, #00FE00, #000A01); /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-100deg, #0000FB, #00FE00, #000A01); /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-100deg, #0000FB, #00FE00, #000A01); /* Firefox 3.6 to 15 */
    background: linear-gradient(-100deg, #425A98, #519FCF);
}

.form-heading {
    margin-bottom: 40px;
    font-variant: small-caps;
    font-weight: 700;
    color: #F0F2F9;

    border-color: #eeeeee;
	border-width: 3px;
	border-bottom-style: groove;
}

small {
	color: #F0F2F9;
	vertical-align: -20%;
}

label {
	font-variant: small-caps;
	background-color: #282828;
	color: #eeeeee;
	line-height: 2.3em;
}

.form-control {
	background-color: #eeeeee;
}

.ng-valid[required] {
    border-left: 5px solid #42A948;
}

.ng-invalid {
    border-left: 5px solid #a94442;
}

.user-image {
	min-height: 200px;
}

#photo {
	padding: 5px 5px 45px 5px;
	background-color: #eee;
}

.admin-data {
	width: 70%;
	display: inline-block;
	padding: 10px;
	border: 1px solid black;
	background-color: #eee;
}

.form-control-btns {
    margin-top: 5%;
    text-align: right;
}

.btn {
    margin-left: 10px;
}

.user-image-input {
	margin: 20px;
	border: 1px solid #cccccc;
	float: left;

	min-width: 200px;
	max-width: 300px;
	height: auto;
}