.form-heading {
    margin-bottom: 20px;
}
.register-container {
    padding: 2%;
}
.ng-valid[required] {
    border-left: 5px solid #42A948;
}
.ng-invalid {
    border-left: 5px solid #a94442;
}
.form-control-btns {
    margin-top: 5%;
    text-align: right;
}
.btn {
    margin-left: 10px;
}