<div [hidden]="submitted" class="register-container col-sm-8">
    <h1>User Registration</h1>

    <div [hidden]="!errorMsg" class="errorMsg alert alert-danger">
        An error occured while creating user! Error: {{errorMsg}}
    </div>

	<form *ngIf="active" class="form-horizontal" (ngSubmit)="onSubmit()" #userForm="ngForm">
        <i>{{diagnostic}}</i><br>

		<div class="form-group">
			<label for="username" class="col-sm-2 col-form-label">Username</label>
            <input type="text" class="form-control col-sm-8" id="username" placeholder="Username" required
                [(ngModel)]="user.username" name="username" #usrName="ngModel" >
                <div [hidden]="usrName.valid || usrName.pristine" class="alert alert-danger">
                    Username is required
                </div>
		</div>

        <div class="form-group">
			<label for="password1">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required
                [(ngModel)]="user.password" name="password" #pswd="ngModel" >
            <div [hidden]="pswd.valid || pswd.pristine" class="alert alert-danger">
                Password is required
            </div>
            <input type="password" class="form-control" id="password2" placeholder="Repeate Password" required
                [(ngModel)]="password2" name="password2" #pswd2="ngModel" >
            <div [hidden]="pswd2.valid || pswd2.pristine" class="alert alert-danger">
                Password control field is required
            </div>
        </div>

        <div class="form-group">
            <label for="namesFirst">Names</label>
            <input type="text" class="form-control" id="namesFirst" placeholder="First Name"
                [(ngModel)]="user.namesFirst" name="namesFirst" #namesFirst="ngModel" >
            <input type="text" class="form-control" id="namesLast" placeholder="Last Name"
                [(ngModel)]="user.namesLast" name="namesLast" #namesLast="ngModel" >
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email"
                [(ngModel)]="user.email" name="email" #email="ngModel" >
        </div>

        <div class="form-group">
            <label for="phone1">Phones</label>
            <input type="text" class="form-control" id="phone1" placeholder="Main Phone Number"
                [(ngModel)]="user.phone1" name="phone1" #phone1="ngModel" >
            <input type="text" class="form-control" id="phone2" placeholder="Second Phone Number"
                [(ngModel)]="user.phone2" name="phone2" #phone2="ngModel" >
        </div>

        <div class="form-group">
            <label for="skypeId">Skype</label>
            <input type="text" class="form-control" id="skypeId" placeholder="Skype"
                [(ngModel)]="user.skypeId" name="skypeId" #skypeId="ngModel" >
        </div>

        <div class="form-group">
            <label for="photo">User Photo</label>
            <input type="image" class="form-control" id="photo" placeholder="Photo"
                [(ngModel)]="user.photo" name="photo" #photo="ngModel" >
        </div>

        <div class="form-group" *ngIf="isAdmin">
            <label for="role">Assign User Role</label>
            <select class="form-control" id="role" placeholder="Pick a role"
                [(ngModel)]="user.role" name="role" #role="ngModel" >
                <option *ngFor="let role of roles" [value]="role">{{role}}</option>
            </select>
            <div [hidden]="isAdmin" class="alert alert-danger">
                You are not Admin!
            </div>
        </div>

        <button type="button" class="btn btn-default" (click)="clearForm()">Clear Form</button>
        <button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>

<!-- submitted = true -->
<div [hidden]="!submitted" class="waiting">
    <h2>Waiting for the server to authorize the new user...</h2>
</div>